@font-face {
  font-family: SpaceGrotesk;
  src: url(../Fonts/SpaceGrotesk-Medium.ttf);
}
* {
  font-family: SpaceGrotesk;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  background-color: #dad6d6;
  overflow-y: scroll;
}
#calculator {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 450px;
}
#display {
  word-wrap: break-word;
  width: calc(100% - 60px);
  height: 60px;
  font-size: 2.5em;
  padding: 30px;
  color: #1b1a1d;
  overflow-y: scroll;
  scrollbar-width: thin;
}
#buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 50%;
  font-size: 2em;
  cursor: pointer;
}
.number-btn {
  background-color: #1b1a1d;
  color: #dad6d6;
}
.operation-btn {
  background-color: #ff5c39;
  color: #1b1a1d;
}
#equal-btn {
  background-color: #f1bd07;
  color: #1b1a1d;
}
footer {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b1a1d;
}
#footer-ul {
  display: flex;
  margin: 20px 0;
  padding: 0;
}
#footer-ul li {
  margin: 0 20px;
  list-style: none;
  font-size: 1.2em;
}

#tea {
  color: #dad6d6;
}
@media screen and (max-width: 500px) {
  #display {
    width: calc(100% - 20px);
    padding: 10px;
  }
  #calculator {
    width: calc(100% - 20px);
    padding: 10px;
  }
  #buttons-container {
    width: 100%;
  }
  .btn {
    width: 70px;
    height: 70px;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 350px) {
  .btn {
    width: 60px;
    height: 60px;
  }
  footer {
    width: calc(100% - 20px);
    padding: 10px;
  }
  #footer-ul {
    margin: 15px 0;
  }
  #footer-ul li {
    margin: 0 10px;
    font-size: 1.2em;
  }
}
